{% extends "base.html.twig" %}

{% block title %}Etudiant{% endblock %}

{% block content %}
    <br>
    <a href="/etudiant/add">
        <button class="btn-light">Ajouter</button>
    </a>
    <table class="table">
        <tr>
            <th>Nom d'utilisateur</th>
            <th>Email</th>
            <th>Editer</th>
        </tr>
        {% for etudiant in etudiants %}
            <tr>
                <td>{{ etudiant.getLogin }}</td>
                <td>{{ etudiant.getEmail }}</td>
                <td>
                    <a href="/etudiant/{{ etudiant.idEtudiant }}">
                        <input type="button" value="Voir" class="btn-outline-primary">
                    </a>
                    <a href="/etudiant/{{ etudiant.idEtudiant }}/del">
                        <input type="button" value="Supprimer" class="btn-danger">
                    </a>

                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}