{% extends "base.html.twig" %}

{% block title %}Etudiant{% endblock %}

{% block content %}
    <br>
    <a href="/etudiant/add">
        <button class="btn-light">Ajouter</button>
    </a>
    <table class="table">
        <tr>
            <th>Nom d'utilisateur</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
        </tr>
        {% for value in etudiants %}
            <tr>
                <td>{{ value.getLogin }}</td>
                <td>{{ value.getNom }}</td>
                <td>{{ value.getPrenom }}</td>
                <td>{{ value.getEmail }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}