{% extends "base.html.twig" %}

{% block title %}Etudiant{% endblock %}

{% block content %}
    <br>
    <a href="/etudiant/add">
        <button class="btn-light">Ajouter</button>
    </a>
    <table class="table">
        <tr>
            <th>Nom d'utilisateur</th>
            <th>Email</th>
            <th>Editer</th>
        </tr>
        {% for value in etudiants %}
            <tr>
                <td>{{ value.getLogin }}</td>
                <td>{{ value.getEmail }}</td>
                <td>
                    <input type="button" value="Modifier" class="btn-outline-primary">
                    <input type="button" value="Supprimer" class="btn-danger">
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}